body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('Convite_Thais_Carlos.png') no-repeat center center;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.invisible-button {
  position: absolute;
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Botão no envelope */
#btn-envelope {
  top: 28%;
  left: 32%;
  width: 20%;
  height: 18%;
}

/* Botão "Confirme sua Presença" */
#btn-presenca {
  bottom: 20%;
  left: 17%;
  width: 10%;
  height: 10%;
}

/* Botão "Confira o Local" */
#btn-local {
  bottom: 20%;
  left: 43%;
  width: 10%;
  height: 10%;
}

/* Botão "Sugestão de Presentes" */
#btn-presentes {
  bottom: 20%;
  left: 68%;
  width: 10%;
  height: 10%;
}
