body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('Convite_Thais_Carlos.png') no-repeat center center;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.invisible-button {
  position: absolute;
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Botão no envelope */
#btn-envelope {
  top: 4vh;
  left: 30vw;
  width: 40vw;
  height: 25vh;
}

/* Botão "Confirme sua Presença" */
#btn-presenca {
  bottom: 12vh;
  left: 16vw;
  width: 15vw;
  height: 15vw;
}

/* Botão "Confira o Local" */
#btn-local {
  bottom: 8vh;
  left: 42vw;
  width: 15vw;
  height: 15vw;
}

/* Botão "Sugestão de Presentes" */
#btn-presentes {
  bottom: 8vh;
  left: 66vw;
  width: 15vw;
  height: 15vw;
}
